<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/head") %>
        <title>Sign in</title>
</head>
<body>
<%- include("./components/nav") %>

        <% if(locals.blogs) { %>
            <% blogs.forEach(blog => { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= blog.coverImgUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= blog.title %></h5>
                      <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                    </div>
                  </div>
            <% }) %>
        <% } %>


<%- include("./components/script") %>
</body>
</html>